# String expressions

Just like with numerical expressions, we can also write expressions with Strings:
- We can use the **+** operator to **concatenates** (or glue together) two strings.
- We can also paste expressions in a so-called **f-string** (short for formatting string), by preceding the quotes with a `f` and placing the expressions you want inserted into text in between curly braces `{}`.
- We can compare strings with `==` or `!=` (not equal), resulting in a boolean expression (True/False)

# Examples: run these examples and see what they do.

In [58]:
'Hello' + 'World'

'HelloWorld'

In [59]:
name = 'Mark'
'Hello ' + name

'Hello Mark'

In [60]:
 f'Hello {name}'

'Hello Mark'

In [61]:
f'the result is {1 + 2}'

'the result is 3'

You can also format the expressions in a formatting string as a float, by finishing the expression with `:f`, or `:.2f` for two decimal positions.

In [62]:
f'the result is {1 + 2:f}'

'the result is 3.000000'

In [63]:
pi = 3.1415
r = 1
f'the circumference of a circle with radius {r} is approx. {2 * pi * r:.2f}'

'the circumference of a circle with radius 1 is approx. 6.28'

In [64]:
name = 'Jack'
name == 'Jack'

True

### Assignments: produce the Strings with the given variables

Mr Mark

In [65]:
name='Mark'

In [73]:
%%assignment
### ENTER YOUR CODE HERE
"Mr "+ name

'Mr John'

In [74]:
%%check
' ' in result # There is a space missing
name='Mark'
result == 'Mr Mark'
name='John'
result == 'Mr John'

Mr John

In [68]:
title='Mr'
name='John'

In [75]:
%%assignment
### ENTER YOUR CODE HERE
title + " " + name

'Mr John'

In [76]:
%%check
title,name='Mr','Mark'
' ' in result # There is a space missing
result == 'Mr Mark'
title,name='Miss', 'Daisy'
result == 'Miss Daisy'

Donald has three nephews: Huey, Dewey, and Louie

In [83]:
nephew1 = 'Huey'
nephew2 = 'Dewey'
nephew3 = 'Louie'

In [88]:
%%assignment
### ENTER YOUR CODE HERE
f"Donald has three nephews: {nephew1}, {nephew2}, and {nephew3}"

'Donald has three nephews: Jack, Jim, and James'

In [89]:
%%check
nephew1,nephew2,nephew3='Huey', 'Dewey', 'Louie'
result == 'Donald has three nephews: Huey, Dewey, and Louie'
nephew1,nephew2,nephew3='Jack','Jim','James'
result == 'Donald has three nephews: Jack, Jim, and James'

There are 1 apples and 2 oranges in the basket

In [35]:
apples=1
orange=2

In [90]:
%%assignment
### ENTER YOUR CODE HERE
f"There are {apples} apples and {orange} oranges in the basket"

'There are 1 apples and 3 oranges in the basket'

In [91]:
%%check
apples,orange=2,1
result == 'There are 2 apples and 1 oranges in the basket'
apples,orange=1,2
result == 'There are 1 apples and 2 oranges in the basket'

You have purchased 2 oranges, which are E1.50 each, for a total of E3.00

In [23]:
orange= 2
price=1.5

In [24]:
%%assignment
### ENTER YOUR CODE HERE
f" You have purchased {round(orange,3)} oranges, which are E{format(price,".f2")} each, for a total of E{2 * price}"

SyntaxError: f-string: unmatched '(' (<string>, line 1)

In [25]:
%%check
orange,price=2,1.5
result == 'You have purchased 2 oranges, which are E1.50 each, for a total of E3.00'
orange,price=3,1
result == 'You have purchased 3 oranges, which are E1.00 each, for a total of E3.00'

# Done? Then make a backup using Git, and close and shutdown this notebook (File->Close And Shutdown Notebook)