In [6]:
import pandas as pd
import numpy as np
import random

In [7]:
answers = []
data = pd.read_csv("15 bezienswaardigheden - Sheet1.csv")
data = data.fillna(0)
data.columns = ["B","L","T","C","S"]
data = data[:16]
data.sort_values(["C"],inplace=True)
print((data.groupby("C")["T"].mean()))
print((data.groupby("C")["T"].sum()))

C
Antiek          12.5
Geschiedenis    25.0
Kerk            60.0
Kunst            5.0
Museum          55.0
UItgaand         0.0
Uitgaand        60.0
toure           45.0
winkel          15.0
Name: T, dtype: float64
C
Antiek           25.0
Geschiedenis     75.0
Kerk            120.0
Kunst             5.0
Museum          165.0
UItgaand          0.0
Uitgaand         60.0
toure            90.0
winkel           15.0
Name: T, dtype: float64

In [5]:
list_of_categories = [x for x in data["C"].drop_duplicates()]

In [8]:
for i,j in zip(list_of_categories,answers):
    if j == "y":
       a = data.where(i ==data["C"]).dropna()
       print(a.sample())