# List

When we wish to compute the average using multiple values, we can add them up and divide the sum by the number of values. Although this is doable for three values, what would happen if you need the average over 100 values? Right, your code would become long, repetitive and hard to handle.

Therefore, we can organize values in a List. In this notebook, we will see how we can create literal lists and check if a value is in a list.

# Example

Create a list `l` with the values 2, 4 and 6.

In [ ]:
l = [ 2, 4, 6 ]

In [ ]:
l

# in

Check if the values 3 and 4 are in the list `l`. Note that you can only ask if one element is in a list with the `in` operator, of you want to check multiple elements, you would need multiple `in`s and combine them for instance with an `and` or `or` operator.

In [ ]:
3 in l

In [ ]:
4 in l

You may also check if an element in `not in` a list.

In [ ]:
3 not in l

# Assignments

create a list `a` with the values 1.2, 1.8 and 3.1.

In [1]:
%%assignment
### ENTER YOUR CODE HERE
a = [1.2,1.8,3.1]

In [2]:
%%check
1.2 in a
1.8 in a
3.1 in a
len(a) == 3

Check if the name 'Jack' in in de list `names`

In [10]:
names = [ 'John', 'Cindy', 'Paul' ]

In [16]:
%%assignment
### ENTER YOUR CODE HERE
"Jack" in names

True

In [17]:
%%check
names = [ 'John', 'Cindy', 'Paul' ]
result == False
names = [ 'John', 'Jack', 'Paul' ]
result == True

Check if 2 and 4 are both in the list ages

In [39]:
ages = [ 1,2,4 ]

In [43]:
%%assignment
### ENTER YOUR CODE HERE
4 in ages and 2 in ages

False

In [44]:
%%check
ages = [ 2, 4 ]
result == True
ages = [ 2, 5 ]
result == False
ages = [ 1, 4 ]
result == False

Check if 3 is in the list dice_values, but 5 is not.

In [45]:
dice_values = [ 1, 6, 3 ]

In [52]:
%%assignment
### ENTER YOUR CODE HERE
3 in dice_values and 5 not in dice_values

False

In [53]:
%%check
dice_values = [ 1, 6, 3 ]
result == True
dice_values = [ 1, 5, 3 ]
result == False
dice_values = [ 1, 6, 2 ]
result == False

# Done? Then make a backup using Git, and close and shutdown this notebook (File->Close And Shutdown Notebook)